* {
    box-sizing: border-box;
}

body {
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    font-size: 12px;
    line-height: 20px;
    background-color: #1e1e1e;
    color: #c9c9c9
}

table {
    border-spacing: 0px
}

a {
    color: #c9c9c9
}
a:link {
    text-decoration: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.code {
    overflow: visible;
    word-wrap: normal;
    white-space: pre;
}

.num {
    position: relative;
    width: 1%;
    min-width: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #2e2e2e;
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.line {
    color: #1a5e7c;
}

.select {
    background-color: DarkBlue
}

.anomaly {
    background-color: #741da3
}

.expression {
    background-color: #005c22
}

.th {
    background-color: #2e2e2e;
}

.footer {
    display: block;
}
.d-flex {
    display: flex !important;
}
.mb-2 {
    margin-bottom: 8px !important;
}
.mr-3 {
    margin-right: 16px !important;
}
.flex-justify-start {
    justify-content: flex-start !important;
}
.flex-wrap {
    flex-wrap: wrap !important;
}
.width-full {
    width: 100% !important;
}
.container-xl {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}
.p-responsive {
    padding-right: 16px !important;
    padding-left: 16px !important;
}
.list-style-none {
    list-style: none !important;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.popup .popuptext {
    visibility: hidden;
    width: 1170px;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 0%;
    margin-left: -0px;
}

.popup .popuptext::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to   {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to   {opacity: 1;}
}

